/*

*/
@font-face {
  font-family: "Brandon Regular";
  font-style: normal;
  font-weight: 400;
  src: local('Brandon Regular'), local('Brandon-Regular'), url(fonts/Brandon_reg.otf) format('truetype')
}

@font-face {
  font-family: 'Brandon Regular';
  font-style: normal;
  font-weight: 500;
  src: local('Brandon Med'), local('Brandon-Med'), url(fonts/Brandon_med.otf) format('truetype')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(fonts/OpenSans-Regular.ttf) format('truetype')
}

@font-face{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.ttf) format('truetype')
}

@font-face{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light.ttf) format('truetype')
}


@font-face{
  font-family: 'iconic-sm';
  font-style: normal;
  font-weight: normal;
  src: local('Iconic Small'), local('Iconic-Small'), url(fonts/iconic-sm.ttf) format('truetype')
}

@font-face {
  font-family: 'iconic-sm';
  font-style: normal;
  font-weight: normal;
  src: url(fonts/iconic-sm.eot);
  src: url(fonts/iconic-sm.eot?#iconic-sm) format('embedded-opentype'),
  url(fonts/iconic-sm.woff) format('woff'),
  url(fonts/iconic-sm.ttf) format('truetype');
}

video {
  width: 100%;
}

body {
  font-family: "Open Sans", "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #404040;
  min-height: 100%;
  overflow-x: hidden;
  background: rgb(250,250,250);
  padding-top: 72px;
}

.navbar {
  min-height: 72px !important;
  z-index: 100;
  background: #fff !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
}

.navbar-head {
  font-size: 20px;
}

.navbar-brand {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.navbar a {
  color: #323A45 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500 !important;
  text-transform: none;
  transition: all .2s ease-in-out 0s;
  flex: 0 1 auto;
  //display: inline-block !important;
}

.navbar-brand > span > img {
  height: 30px !important;
}
.navbar a:hover {
  background-color: transparent !important;
  border-radius: 0 !important;
  border-color: transparent !important;
}

.navbar-brand:hover {
}

.navbar-toggle {
  border: none;
  margin-top: 11px;
  padding-bottom: 0;
  padding-top: 0;
}

ul.dropdown-menu.submenu {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.dropdown-toggle {
  border: none !important;
}

.dropdown-menu > li > a {
  padding: 15px;
}

.dropdown-menu .iconic-caret-top {
  display: inline-block;
  font-family: iconic-sm;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  color: white;
  top: -10px;
  font-size: 14px;
  padding-left: 8px;
  text-shadow: 0 -1px 0 #ccc !important;
  line-height: 1;
  right: 14px;
}

.iconic-caret-top:before {
  content: "\e14f";
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.icon-bar {
  background-color: #2f7bbd !important;
  width: 30px !important;
  height: 4px !important;
  border-radius: 4px !important;
  margin-top: 6px !important;
}

.admonition .highlight-default {
  padding: 7px;
}


a {
  color: #337ab7;
}

a.reference.internal {
  color: #337ab7 !important;
  font-size: 92%;
}

a.reference.internal.nav-header {
  color: #303030 !important;
}


.footer-title {
  font-family: "Brandon Regular";
  font-weight: 500;
  color: #333333;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 0 0 #000
}
.footer-link-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px !important;
  line-height: 17px !important;
  color: #747c83 !important;
  font-weight: 300 !important;
}
.footer-link-text:hover {
  color: #2f7bbd !important;
  text-decoration: none;
}

.footer-copyright {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: 13px !important;
  line-height: 17px !important;
  color: #747c83 !important;
  font-weight: 300 !important;

}

.footer-container {
  z-index: 1;
}

.footer-container li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-right: 15px;
}

.navbar>.container .navbar-brand:hover, .navbar>.container-fluid .navbar-brand:hover {
  background-color: transparent !important;
  color: #333333 !important;
}

.navbar-search-box input {
  height: 40px !important;
}

.toctree-l2 {
  background-color: transparent !important;
}

#overview .row {
  margin-top: 35px;
  margin-bottom: 35px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;

}

.video-wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.video-wrapper iframe {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.video-wrapper-deployment {
  padding-left: 5%;
  padding-right: 5%;
}

.top-video-wrapper {
  padding-right: 37px;
}
.toctree-wrapper.compound {
  padding-top: 40px;
}

.navbar .btn-login {
  color: #FC3668 !important;
}

.nav-item {
  padding: 0 1rem;
}

.navbar .navbar-nav {
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.navbar .navbar-nav.nav-left {
  flex: 1 1 auto;
  padding-left: 12px;
}

.navbar .navbar-nav.nav-left .nav-link {
  font-size: 16px !important;
}

.navbar .navbar-nav .btn-signup {
  color: white !important;
  background-color: #FC3668 !important;
  padding: 13px 20px !important;
  border-radius: 5px !important;
}

.navbar .navbar-nav .btn-signup:hover {
  background-color: #f33463 !important;
}
